// В этом файле должны быть стили для БЭМ-блока head, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.head {
  position: relative;
  h1{
    font-weight: 800;
  }
  p {
    letter-spacing: 0.1em;
  }
}

.head__img-iceberg-wrapper {
  @include container;
  position: absolute;
  top: -230px;
  left: -20%;
  right: 0;
  z-index: 1;
}

.head__img-iceberg {
  max-width: 1200px;
  min-width: 700px;
  width: 100%;
  height: auto;
}

.head__bg-land {
  background: linear-gradient(0deg, #fff 20%, #f2fbff 50%, #bbeaff 88.19%);
  min-height: 440px;
  display: flex;
  align-items: center;
}

.head__bg-watter {
  background: linear-gradient(0deg,#2e7ec8 0%,#2e7ec8 7.33%,#2e7ec8 20.33%,#69dae2 99.86%);
  display: flex;
  flex-direction: column;
}

.head__bg-watter-container {
  @include container;
  display: flex;
  justify-content: flex-end;
}

.head__img-ship {
  width: 100%;
  max-width: 931px;
  height: auto;
  margin-top: -180px;
  z-index: 1;
}

.head__img-waves-wrapper{
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.head__img-waves {
  width: calc(100% + 400px);
  transform: translateX(-200px);
  max-width: 2000px;
  display: block;
  margin: 0 auto;
  z-index: 1;

  @media (min-width: 1600px) {
    width: 100%;
    transform: translateX(0px);
  }
}